<div class="main">
    <h1>UX Dictionary</h1>
    <p>Learning about UX? Or working with UX professionals? Find out 
        what they're talking about  in this community-built UX 
        dictionary 👇 
    </p>


    <div class="search">
        <form [formGroup]="searchForm">
            <input #word type="text" class="form-control" formControlName="word"
            id="search" placeholder="type in any word" (keyup.enter)="update(word.value)"
            (blur)="update(word.value); word.value = ''" [(ngModel)]="searchWord"
            (ngModelChange)="searchKey($event)"
            />
            <i class="fa-solid fa-magnifying-glass" style="color: rgba(6, 107, 70, .8);"></i>
            <ul >
                <li *ngFor="let word of searchList">
                    <a (click)="update(word)">{{ word }}</a>
                </li>
            </ul>
        </form>
    </div>

    <!-- <h1>Get Method</h1> -->
    <!-- <p>{{ getJsonValue | json }}</p> -->

    <div class="row" *ngIf="word">
        <ng-container *ngFor="let data of words">
            <div class="box">
                <h2 >{{ data.fl}}</h2>
                <h2 >{{ data.shortdef }}</h2>
                <h2 > SYNONYMS: {{ data.syns}}</h2>
                <!-- <h2 >{{ data.def.sseq.dt }}</h2> -->

                <!-- <h2 >{{ data.ins.sound}}</h2> -->
            </div>
        </ng-container>
    </div>
</div>







<!-- assignment -->
<!-- 
    create a library system where we have 2 diff. module. one for student and the botherv for the libraian.
    In the student module, student should be able to sign in with the ff details:
    1. Student Full Name
    2. email, phone number, dept. and faculty, password.
    once he/she signs up, his details will be taken to the libraian. he can use his email or phone number with password to
    login. in the student dashboard, there should his fullname showing on the header. a place for profile picture,
    and on click of the profile picture, the student should be able to go to where to edit his profile but not be able
    to change his email. if his account has been approved by the libraian, there will be a BADGE on his dashboard 
    showing his accpount is active, otherwise, the badge will be showing  "your account is yet to be approved by
    the libraian".

    if his account is active, whatever the libraian post will be accessible by him. the changes must be monitored
    at any time. either a text, video or any other.

    libraian
    *he will have a default login credentials.
    username: librarian
    password: librarian
    there will be a session where she will see the list of students who have registered.
    if such student account is pending, there will be an approve buttton and on click of that, the account can be 
    approved and then disable accpunt button will show after APPROVAL.

    THERE WILL BE  another section to upload the content. there will be a form where you can select whatever you 
    want to upload, either, text, pdf, audio or video. whatever is selected is what can be uploaded. for example, 
    for text, there shpuld be a text area where the libraian can type in text.

    *all data should be stored in a local storage
 -->